<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEOR0ErwTRZFmjNd4lrmp8pCEHF2K1Ng4</string>
	<key>GCM_SENDER_ID</key>
	<string>119100589120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bandroadie.app</string>
	<key>PROJECT_ID</key>
	<string>bandroadie-65b18</string>
	<key>STORAGE_BUCKET</key>
	<string>bandroadie-65b18.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119100589120:ios:a949ed1b35dab353c3cba5</string>
</dict>
</plist>